.wrapper {
    width:100%;
    background:#eee;
    margin: 0 auto 0 auto;
}

.heading {
    height: 100px;
    background: black;
    padding: 20px;
    color: white;
    text-align: right;
}

.navigation {
    height: 41px;
    background:lightgreen;

}

.content {
    height: 75%;
    background: gold;
}

.icon-bar {
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%)
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: gold; /* Add an active/current color */
}
